.contenido{
    width: 80rem;
    height: 100vh;
    padding: 3rem;

    margin: auto;

}
img{
    width: 6rem;
    height: 6rem;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(122, 219, 248);
    padding: 0.01rem;
}
.usuario{
    float: left;
}
.componentes{
    width: 100%;
    list-style-type: none;
    text-align: left;
}
.componentes li{
    display: inline-flex;
    text-align: center;
}
.componentes li a{
    text-decoration: none;
    color: rgb(44, 44, 44);
    margin: 2rem;
}
.componentes li a:hover{
    background: rgb(47, 103, 224);
}
.foto1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.tamañofoto{
    width: 70rem;
    height: 35rem;
}
.txtimg{
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.titulo1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.imagenes img{
    height: 15rem;
    width: 15rem;
}
.subtitulos p{
    text-align: left;
    margin: 1rem;
}
.tablatexto p{
    margin: 1rem;
    text-align: left;
    text-align: justify;
}
.ultimo a{
    display: flex;
    text-align: left;
    background: rgb(122, 219, 248);
    padding: 2rem;
    list-style-type: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
